.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.bottom-division {
  text-align: center;
  margin-top: 50px;
}
.img-container {
  margin-top: 30px;
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.img-container img {
  border: 1px solid black;
  margin: 0 auto;
  width: max-content;
  max-height: 100%;
  position: relative;
}
.div1 {
  padding: 0;
  margin: 0;
  width: max-content;
  left: 130px;
  color: white;
  background-color: black;
  position: relative;
  top: 50px;
  font-size: larger;
  z-index: 3;
}
.div2 {
  width: max-content;
  color: white;
  background-color: black;
  position: relative;
  bottom: 50px;
  left: 200px;
  font-size: larger;
  z-index: 3;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
